$vibrant-purple: #7e30e9;
$soft-lavender: #ac70f1;
$deep-navy: #041834;

$light-green: #2cff05;
$dark-green: #0f6200;
$green-gradient: linear-gradient(to right, #2cff05, #00ff00);
$purple-gradient: linear-gradient(to right, #7e30e9, #ac70f1);
